@mixin bg-cover {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@mixin aic {
	display: flex;
	align-items: center;
}

@mixin jcsb {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin fdc {
	display: flex;
	flex-direction: column;
}

@mixin jcc {
	display: flex;
	justify-content: center;
	align-items: center;
}