<header class="header">
	<div class="container">
		<div class="header__content">
			<a href="#" class="header__logo">
				<img src="img/svg/logo.svg" alt="logo" />
			</a>

			<div class="header__categories">
				<p class="header__categories-desc">Категории</p>
				<nav class="header__categories-nav">
					<ul class="header__categories-list">
						<li class="header__categories-item">
							<a href="#" class="header__categories-link">
								<span>Программирование</span>
								<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
								</svg>
							</a>
							<ul class="header__categories-sublist">
								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Веб разработка</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">JavaScript</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Angular</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">CSS</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">React</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Note.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">HTML5</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">PHP</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Django</a>
										</li>
									</ul>
								</li>

								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Обработка анализ и данных</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
									</ul>
								</li>

								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Разработка мобильных приложений</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
									</ul>
								</li>

								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Языки программирования</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
									</ul>
								</li>

								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Разработка игры</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
									</ul>
								</li>

								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Проектирование и разработка баз данных</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
									</ul>
								</li>

								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Тестирование программного обеспече...</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
									</ul>
								</li>

								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Инструменты для разработки программнного обеспечения</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
									</ul>
								</li>

								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Разработка без кода</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Tets</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="header__categories-item">
							<a href="#" class="header__categories-link">
								<span>Дизайн</span>
								<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
								</svg>
							</a>
							<ul class="header__categories-sublist">
								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Веб разработка</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
								</li>
								<ul class="header__categories-subsublist">
									<li class="header__categories-item">
										<a href="#" class="header__categories-link">JavaScript</a>
									</li>
									<li class="header__categories-item">
										<a href="#" class="header__categories-link">Angular</a>
									</li>
									<li class="header__categories-item">
										<a href="#" class="header__categories-link">CSS</a>
									</li>
									<li class="header__categories-item">
										<a href="#" class="header__categories-link">React</a>
									</li>
									<li class="header__categories-item">
										<a href="#" class="header__categories-link">Note.Js</a>
									</li>
									<li class="header__categories-item">
										<a href="#" class="header__categories-link">HTML5</a>
									</li>
									<li class="header__categories-item">
										<a href="#" class="header__categories-link">PHP</a>
									</li>
									<li class="header__categories-item">
										<a href="#" class="header__categories-link">Django</a>
									</li>
								</ul>
							</ul>
						</li>
						<li class="header__categories-item">
							<a href="#" class="header__categories-link">
								<span>Маркетинг</span>
								<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
								</svg>
							</a>
							<ul class="header__categories-sublist">
								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Веб разработка</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">JavaScript</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Angular</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">CSS</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">React</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Note.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">HTML5</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">PHP</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Django</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="header__categories-item">
							<a href="#" class="header__categories-link">
								<span>Финансы и бизнес</span>
								<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
								</svg>
							</a>
							<ul class="header__categories-sublist">
								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Веб разработка</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">JavaScript</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Angular</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">CSS</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">React</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Note.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">HTML5</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">PHP</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Django</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="header__categories-item">
							<a href="#" class="header__categories-link">
								<span>Финансы и бизнес</span>
								<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
								</svg>
							</a>
							<ul class="header__categories-sublist">
								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Веб разработка</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">JavaScript</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Angular</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">CSS</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">React</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Note.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">HTML5</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">PHP</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Django</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="header__categories-item">
							<a href="#" class="header__categories-link">
								<span>Иностранные языки</span>
								<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
								</svg>
							</a>
							<ul class="header__categories-sublist">
								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Веб разработка</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">JavaScript</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Angular</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">CSS</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">React</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Note.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">HTML5</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">PHP</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Django</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="header__categories-item">
							<a href="#" class="header__categories-link">
								<span>Здоровье и фитнес</span>
								<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
								</svg>
							</a>
							<ul class="header__categories-sublist">
								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Веб разработка</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">JavaScript</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Angular</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">CSS</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">React</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Note.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">HTML5</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">PHP</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Django</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="header__categories-item">
							<a href="#" class="header__categories-link">
								<span>Музыка</span>
								<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
								</svg>
							</a>
							<ul class="header__categories-sublist">
								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Веб разработка</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">JavaScript</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Angular</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">CSS</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">React</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Note.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">HTML5</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">PHP</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Django</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="header__categories-item">
							<a href="#" class="header__categories-link">
								<span>Учебные и академические дисциплины</span>
								<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
								</svg>
							</a>
							<ul class="header__categories-sublist">
								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Веб разработка</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">JavaScript</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Angular</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">CSS</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">React</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Note.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">HTML5</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">PHP</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Django</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="header__categories-item">
							<a href="#" class="header__categories-link">
								<span>ИТ и ПО </span>
								<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
								</svg>
							</a>
							<ul class="header__categories-sublist">
								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Веб разработка</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">JavaScript</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Angular</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">CSS</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">React</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Note.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">HTML5</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">PHP</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Django</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="header__categories-item">
							<a href="#" class="header__categories-link">
								<span>Программирование</span>
								<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
								</svg>
							</a>
							<ul class="header__categories-sublist">
								<li class="header__categories-item">
									<a href="#" class="header__categories-link">
										<span>Веб разработка</span>
										<svg class="header__categories-svg" width="6" height="10" viewBox="0 0 6 10" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 8.57143L3.75 5L0 1.42857L0.75 0L6 5L0.75 10L0 8.57143Z" fill="#1A2134">
										</svg>
									</a>
									<ul class="header__categories-subsublist">
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">JavaScript</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Angular</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">CSS</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">React</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Note.Js</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">HTML5</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">PHP</a>
										</li>
										<li class="header__categories-item">
											<a href="#" class="header__categories-link">Django</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

			<form action="#" class="header__search">
				<button type="submit" class="header__search-button">
					<img src="img/svg/search.svg" alt="icon" />
				</button>
				<input type="text" placeholder="Поиск курса" class="header__search-input">
			</form>

			<a href="#" class="header__link">Бизнес сервис</a>

			<div class="header__box">
				<div class="header__box-icon header__box-icon--bell">
					<img src="img/svg/bell.svg" alt="icon">
				</div>
				<a href="#" class="header__box-icon">
					<img src="img/svg/heart.svg" alt="icon">
				</a>
			</div>

			<div class="header__profile">
				<div class="header__profile-avatar">
					<img src="img/avatar.png" alt="image">
				</div>
				<div class="header__profile-wrap">
					<div class="header__profile-box">
						<div class="header__profile-avatar">
							<img src="img/avatar.png" alt="image">
						</div>
						<div class="header__profile-info">
							<div class="header__profile-name">Михаил Алиев</div>
							<div class="header__profile-desc">Ученик</div>
						</div>
					</div>
					<ul class="header__profile-list">
						<li class="header__profile-item">
							<a href="#" class="header__profile-link header__profile-link--1">Мои обучения</a>
						</li>
						<li class="header__profile-item">
							<a href="#" class="header__profile-link header__profile-link--2">Онлайн встречи</a>
						</li>
						<li class="header__profile-item">
							<a href="#" class="header__profile-link header__profile-link--3">Финансы</a>
						</li>
						<li class="header__profile-item">
							<a href="#" class="header__profile-link header__profile-link--4">Домашнее задание</a>
						</li>
						<li class="header__profile-item">
							<a href="#" class="header__profile-link header__profile-link--5">Сертификаты</a>
						</li>
						<li class="header__profile-item">
							<a href="#" class="header__profile-link header__profile-link--6">Профиль</a>
						</li>
					</ul>
					<a href="#" class="header__profile-exit">Выйти</a>
				</div>
			</div>

			<!-- <a href="#" class="header__btn btn btn--blue">Войти</a> -->

			<ul class="header__lang">
				<li class="header__lang-current">
					<a href="#" class="header__lang-link">
						<span class="header__lang-icon"></span>
						RU
					</a>
					<ul class="header__lang-sublist">
						<li>
							<a href="#" class="header__lang-link">UZ</a>
						</li>
					</ul>
				</li>
			</ul>

			<div class="header__notify">
				<div class="header__notify-top">
					<button type="button" class="header__notify-close">
						<img src="img/svg/close.svg" alt="close">
					</button>
					<div class="header__notify-title">Оповещения</div>
				</div>

				<div class="header__notify-content">
					<div class="header__notify-icon">
						<img src="img/svg/notify.svg" alt="icon">
					</div>
					<div class="header__notify-desc">В настоящее время у вас нет уведомлений</div>
				</div>
			</div>

			<div class="header__bg"></div>
		</div>
	</div>
</header>