<div id="partner" class="popup popup-partner">
	<div class="popup__body">
		<div class="popup__content">
			<button class="popup__close close-popup">
				<img src="img/svg/close.svg" alt="icon">
			</button>
			<div class="popup__box">
				<div class="popup-partner__title">Станьте партнером. Увеличьте свой поток клиентов через систему рассрочки</div>
				<div class="popup-partner__desc">Покупка в рассрочку даст клиентам возможность приобретать то, что они не смогли
					бы позволить купить за одну оплату</div>
				<form action="#" class="popup__form">
					<div class="popup__group">
						<label class="popup__label" for="company">Название компании или бренда</label>
						<input id="company" type="text" class="popup__input">
					</div>
					<div class="popup__group">
						<label class="popup__label" for="fio">ФИО контактного лица*</label>
						<input id="fio" type="text" class="popup__input">
					</div>
					<div class="popup__group">
						<label class="popup__label" for="tel">Телефон для связи*</label>
						<input id="tel" type="text" class="popup__input phone-mask">
					</div>
					<div class="popup__btn">
						<button type="submit" class="btn btn--blue">Оставить заявку</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>