$black: #47516C;
$blue: #5060DB;
$soft: #47516C;
$white: #fff;
$white-opacity: rgba(255, 255, 255, 0.5);
$green: #42C18C;
$yellow: #FEA405;
$yellow-opacity: rgba(254, 164, 5, 0.15);
$red: #EB4E4E;
$second-blue: #2690FC;
$second-blue-opacity: rgba(38, 144, 252, 0.15);
$gray: #F3F3F3;
$linear-gradient: linear-gradient(283.89deg, #5060DB 0%, rgba(80, 96, 219, 0.81) 100%);