.filter {
	display: flex;

	@media (max-width: 991px) {
		flex-direction: column;
	}

	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__item {
		position: relative;
		padding-left: 35rem;

		&.active {
			.popup-block {
				opacity: 1;
				visibility: visible;
				top: 40rem;
			}
		}

		&::before {
			content: '';
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 24rem;
			height: 24rem;
			pointer-events: none;
		}

		&--note {
			&::before {
				background-image: url('../img/svg/note.svg');
			}
		}

		&--local {
			&::before {
				background-image: url('../img/svg/local.svg');
			}
		}

		&--time {
			&::before {
				background-image: url('../img/svg/time-2.svg');
			}
		}

		&--search {
			&::before {
				background-image: url('../img/svg/search-2.svg');
			}
		}

		&--cursor {
			&::before {
				background-image: url('../img/svg/cursor.svg');
			}
		}

		&--delete {
			&::before {
				background-image: url('../img/svg/delete-2.svg');
			}
		}

		&--gray {
			&:before {
				filter: invert(75%) brightness(240%);
			}
		}
	}

	&__item+&__item {
		margin-left: 110rem;

		@media (max-width: 991px) {
			margin: 20rem 0 0 0;
		}
	}

	&__desc {
		font-weight: 600;
		font-size: 14rem;
		line-height: 125%;
		color: #fff;
		cursor: pointer;
	}
}