.header {
	padding: 20rem 0;
	background: $white;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.03);
	z-index: 3;

	&__content {
		display: flex;
		align-items: center;

		&.active {
			.header__notify {
				right: 0;
			}

			.header__bg {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__logo {
		width: 100%;
		max-width: 126rem;
		height: 41rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__categories {
		position: relative;
		margin-left: 60rem;
		padding-left: 22rem;

		&:hover {
			.header__categories-nav {
				opacity: 1;
				visibility: visible;
			}
		}

		&::before {
			content: '';
			background-image: url('../img/svg/categories.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 14rem;
			height: 14rem;
		}

		&::after {
			content: '';
			position: absolute;
			top: 10rem;
			left: 0;
			width: 100%;
			height: 80rem;
		}

		&-desc {
			font-weight: 500;
			font-size: 18rem;
			line-height: 22rem;
			text-transform: uppercase;
			cursor: pointer;
		}

		&-nav {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 60rem;
			width: 1170rem;
			background: #fff;
			border-top: 1px solid #E8E8E8;
			height: 500rem;
			border-radius: 0 0 10rem 10rem;
			left: 0;
			z-index: 1;
		}

		&-list {
			border-radius: 0 0 0 10rem;
			border-right: 1px solid #E8E8E8;
			width: 390rem;
			height: 100%;
		}

		&-item {
			&:hover {
				.header__categories-sublist {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&-sublist {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 390rem;
			top: 0;
			border-right: 1px solid #E8E8E8;
			width: 390rem;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: -10rem;
				width: 20rem;
				height: 100%;
			}

			.header__categories-item {
				&:hover {
					.header__categories-subsublist {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}

		&-subsublist {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 390rem;
			top: 0;
			width: 390rem;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: -10rem;
				width: 20rem;
				height: 100%;
			}
		}

		&-link {
			position: relative;
			display: block;
			padding: 10rem 85rem 10rem 25rem;

			&:hover {
				color: $blue;

				svg {
					path {
						fill: #3347E6;
					}
				}
			}

			span {
				font-size: 18rem;
				line-height: 22rem;
				word-wrap: break-word;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				display: -webkit-box;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		&-svg {
			position: absolute;
			top: 50%;
			right: 25rem;
			transform: translateY(-50%);
		}
	}

	&__search {
		margin-left: 40rem;
		display: flex;
		align-items: center;
		padding: 0 20rem;
		background: $white;
		border: 2px solid #F3F3F3;
		border-radius: 61rem;
		height: 58rem;
		width: 100%;

		&-button {
			position: relative;
			transition: all 0.3s ease;
			padding-right: 20rem;

			img {
				width: 18rem;
				height: 18rem;
			}

			&:hover {
				opacity: 0.8;
			}

			&::before {
				content: '';
				border-right: 1px solid #E5E5E7;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
			}
		}

		&-input {
			width: 100%;
			font-weight: 500;
			font-size: 18rem;
			line-height: 22rem;
			color: #B2B3BB;
			padding: 0 20rem;
		}
	}

	&__link {
		margin-left: 40rem;
		font-weight: 500;
		font-size: 18rem;
		line-height: 22rem;
		text-transform: uppercase;
		color: #1A2134;
		transition: all 0.3s ease;
		white-space: nowrap;

		&:hover {
			color: $blue;
		}
	}

	&__box {
		margin-left: 40rem;
		display: flex;

		&-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px solid #F3F3F3;
			width: 58rem;
			height: 58rem;
			border-radius: 50%;

			img {
				width: 26rem;
				height: 26rem;
				object-fit: contain;
			}

			&--bell {
				cursor: pointer;
			}
		}

		&-icon+&-icon {
			margin-left: 13rem;
		}
	}

	&__btn {
		margin-left: 45rem;
	}

	&__lang {
		margin-left: 17rem;

		&-current {
			position: relative;
			background: #F5F6FA;
			border-radius: 9rem;
			padding: 15rem;
			width: 83rem;

			&:hover {
				border-radius: 9rem 9rem 0 0;

				.header__lang-sublist {
					opacity: 1;
					visibility: visible;
				}
			}

			&>a {
				padding-right: 20rem;

				&:hover {
					color: rgba(26, 33, 52, 0.7);
				}
			}
		}

		&-link {
			font-weight: 500;
			font-size: 22rem;
			line-height: 26rem;
			text-transform: uppercase;
			color: rgba(26, 33, 52, 0.7);
			transition: all 0.3s ease;

			&:hover {
				color: $blue;
			}
		}

		&-icon {
			&::before {
				content: '';
				background-image: url('../img/svg/arrow-down.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				position: absolute;
				top: 50%;
				right: 13rem;
				width: 14rem;
				height: 8rem;
				transform: translateY(-50%);
			}
		}

		&-sublist {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 0;
			background: #F5F6FA;
			border-radius: 0 0 9rem 9rem;
			padding: 15rem;
			width: 83rem;
			z-index: 10;
			transition: all 0.1s ease;
		}
	}

	&__profile {
		position: relative;
		margin-left: 13rem;

		&:hover {
			.header__profile-wrap {
				opacity: 1;
				visibility: visible;
				top: 82rem;
				pointer-events: all;
			}
		}

		&-avatar {
			width: 58rem;
			height: 58rem;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 50%;
			}
		}

		&-wrap {
			position: relative;
			min-width: 296rem;
			position: absolute;
			left: 0;
			top: 88rem;
			background: $white;
			box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
			border-radius: 10rem;
			padding: 20rem;
			pointer-events: none;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease;

			&::before {
				content: '';
				position: absolute;
				top: -30rem;
				left: 0;
				width: 296rem;
				height: 40rem;
			}
		}

		&-box {
			display: flex;
			align-items: center;
		}

		&-info {
			margin-left: 17rem;
		}

		&-name {
			font-weight: 500;
			font-size: 18rem;
			line-height: 22rem;
			margin-bottom: 3rem;
		}

		&-desc {
			font-weight: 400;
			font-size: 18rem;
			line-height: 22rem;
			color: rgba(26, 33, 52, 0.4);
		}

		&-list {
			margin: 20rem 0;
			padding: 30rem 0;
			border-top: 1px solid #D2D2D3;
			border-bottom: 1px solid #D2D2D3;
		}

		&-item+&-item {
			margin-top: 30rem;
		}

		&-link {
			position: relative;
			padding-left: 45rem;
			font-size: 18rem;
			line-height: 22rem;
			color: #47516C;

			&:hover {
				color: $blue;
			}

			&::before {
				content: '';
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 25rem;
				height: 25rem;
			}

			&--1 {
				&::before {
					background-image: url('../img/svg/icon-1.svg');
				}
			}

			&--2 {
				&::before {
					background-image: url('../img/svg/icon-2.svg');
				}
			}

			&--3 {
				&::before {
					background-image: url('../img/svg/icon-3.svg');
				}
			}

			&--4 {
				&::before {
					background-image: url('../img/svg/icon-4.svg');
				}
			}

			&--5 {
				&::before {
					background-image: url('../img/svg/icon-5.svg');
				}
			}

			&--6 {
				&::before {
					background-image: url('../img/svg/icon-6.svg');
				}
			}
		}

		&-exit {
			position: relative;
			padding-left: 45rem;
			font-size: 18rem;
			line-height: 22rem;

			&:hover {
				color: $red;
			}

			&::before {
				content: '';
				background-image: url('../img/svg/exit.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 22rem;
				height: 30rem;
			}
		}
	}

	&__notify {
		position: absolute;
		right: -100%;
		top: 0;
		width: 475rem;
		height: 100vh;
		background: #FFFFFF;
		box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.03);
		padding: 20rem 0;
		transition: all 0.3s ease;
		z-index: 10;

		&-top {
			display: flex;
			align-items: center;
			padding: 0 40rem;
		}

		&-close {
			width: 32rem;
			height: 32rem;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-title {
			margin-left: 65rem;
			font-weight: 500;
			font-size: 30rem;
			line-height: 36rem;
		}

		&-content {}

		&-icon {
			width: 107rem;
			height: 107rem;
			margin: 107rem auto 25rem;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&-desc {
			max-width: 225rem;
			margin: auto;
			text-align: center;
			font-weight: 500;
			font-size: 18rem;
			line-height: 22rem;
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;
	}
}