.pagination {
	display: flex;
	margin-right: 20rem;

	&__item+&__item {
		margin-left: 10rem;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(0deg, #F8FCFB, #F8FCFB),
			#FFFFFF;
		border-radius: 4rem;
		min-width: 36rem;
		height: 36rem;
		font-weight: 600;
		font-size: 13rem;
		line-height: 140%;
		color: #202339;
		padding: 0 5rem;

		&--active {
			background: #264EA1;
			color: #fff;
		}

		&--arrow {
			&:hover {
				img {
					filter: brightness(100);
				}
			}
		}

		&:hover {
			background: #264EA1;
			color: #fff;
		}
	}

	&__dots {
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(0deg, #F8FCFB, #F8FCFB),
			#FFFFFF;
		border-radius: 4rem;
		width: 36rem;
		height: 36rem;
		font-weight: 600;
		font-size: 13rem;
		line-height: 140%;
		color: #202339;
	}
}