.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.3s ease 0s;
	z-index: 10;

	&-change-password {
		.popup__content {
			max-width: 540rem;
			padding: 32rem;
		}
	}

	&-applications {
		.popup__content {
			max-width: 610rem;
		}

		&__top {
			padding: 30rem;
			border-radius: 8rem 8rem 0 0;

			&--pending {
				background: linear-gradient(179.69deg, #4BA293 0.27%, #34814B 214.15%);
			}

			&--processed {
				background: #70ACC6;
			}

			&--rejected {
				background: linear-gradient(179.72deg, #E75A5A 0.24%, #B71111 237.85%);
			}

			&--successfully {
				background: #ECF0EF;

				.popup-applications__name,
				.popup-applications__date,
				.popup-applications__tel {
					color: #202339;
				}

				.popup-applications__tel::before {
					filter: invert(1);
				}
			}
		}

		&__name {
			font-weight: 600;
			font-size: 28px;
			line-height: 125%;
			color: #fff;
		}

		&__date {
			margin-top: 10rem;
			font-weight: 500;
			font-size: 16px;
			line-height: 140%;
			color: #fff;
		}

		&__tel {
			position: relative;
			padding-left: 35rem;
			display: block;
			margin-top: 20rem;
			font-weight: 700;
			font-size: 18px;
			line-height: 125%;
			color: #fff;

			&:hover {
				color: #71edb2;
			}

			&::before {
				content: '';
				background-image: url('../img/svg/tel-2.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 27rem;
				height: 27rem;
			}
		}

		&__form {
			padding: 45rem 35rem 40rem;
		}

		&__status {
			font-weight: 600;
			color: #202339;
		}

		&__items {
			margin-top: 20rem;
			display: flex;
		}

		&__item {
			padding: 7rem 18rem;
			border-radius: 8rem;
			font-weight: 700;
			font-size: 15rem;
			line-height: 160%;
			border-bottom-width: 2px;
			border-bottom-style: solid;

			&--pending {
				background: rgba(224, 215, 135, 0.1);
				color: #202339;
				border-bottom-color: #E0D787;

				&.active {
					background: #E0D787;
				}
			}

			&--processed {
				background: rgba(112, 172, 198, 0.1);
				color: #70ACC6;
				border-bottom-color: #70ACC6;

				&.active {
					background: #70ACC6;
					color: #fff;
				}
			}

			&--rejected {
				background: rgba(189, 85, 104, 0.1);
				color: #E75A5A;
				border-bottom-color: #E75A5A;

				&.active {
					background: #E75A5A;
					color: #fff;
				}
			}

			&--successfully {
				background: rgba(230, 230, 230, 0.1);
				color: #202339;
				border-bottom-color: #E6E6E6;

				&.active {
					background: #E6E6E6;
				}
			}
		}

		&__item+&__item {
			margin-left: 5rem;
		}

		&__btns {
			margin-top: 40rem;

			.btn+.btn {
				margin-left: 10rem;
			}
		}

		&__box {
			margin-top: 30rem;
			display: flex;
			align-items: center;
		}

		&__desc {
			margin-right: 26rem;
			font-weight: 600;
			color: #202339;
			white-space: nowrap;
		}

		&__select {
			appearance: none;
			width: 100%;
			background-color: #EDEEF0;
			background-image: url('../img/svg/arrow-down-partners.svg');
			background-position: 97%;
			background-repeat: no-repeat;
			border-radius: 12rem;
			border: none;
			padding: 15rem;
			font-weight: 500;
			font-size: 14rem;
			line-height: 140%;
			color: #8A91A6;
		}

		&__block {
			margin-top: 40rem;
		}

		&__text {
			font-weight: 600;
			font-size: 14rem;
			line-height: 125%;
			color: #202339;
		}

		&__quicks {
			margin-top: 18rem;
		}

		&__quick {
			cursor: pointer;
			display: inline-block;
			background: linear-gradient(180deg, #F2F3F5 0%, #EDEEF0 48.7%);
			border-radius: 8rem;
			padding: 7rem 14rem;

			&.active {
				color: #264EA1;
			}
		}

		&__quick+&__quick {
			margin-top: 8rem;
		}

		&__textarea {
			margin-top: 12rem;
			width: 100%;
			padding: 15rem;
			background: linear-gradient(180deg, #F2F3F5 0%, #EDEEF0 48.7%);
			border-radius: 12rem;
			min-height: 153rem;
			font-weight: 500;
			font-size: 14rem;
			line-height: 140%;
			color: #8A91A6;
			outline: none;
		}
	}

	&-partner {
		.popup__content {
			max-width: 760rem;
			padding: 45px 35rem;
		}

		&__title {
			font-family: "BebasNeueBold", sans-serif;
			font-weight: 700;
			font-size: 42rem;
			line-height: 140%;
			color: #282D33;
		}

		&__desc {
			margin-top: 20rem;
			font-weight: 700;
			font-size: 18rem;
			line-height: 140%;
			color: #282D33;
		}
	}

	&-photo {
		.popup__content {
			max-width: 1325rem;
			padding: 80rem 0 80rem 65rem;

			@media (max-width: 991px) {
				padding: 50rem 10rem 20rem 30rem;
			}
		}
	}

	&-map {
		.popup__content {
			max-width: 1325rem;
			padding: 80rem 65rem;

			@media (max-width: 991px) {
				padding: 50rem 20rem 30rem;
			}
		}
	}

	&.open {
		opacity: 1;
		visibility: visible;
	}

	&.open .popup__content {
		transform: none;
	}

	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3 ease 0s;

		@media (max-width: 991px) {
			margin: 0 10rem;
		}
	}

	&__content {
		background-color: #fff;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		color: #000;
		width: 100%;
		position: relative;
		transition: transform .3s ease-out;
		transform: translate(0, -70rem);
		border-radius: 12rem;
	}

	&__close {
		position: absolute;
		right: 0;
		top: -40rem;
		z-index: 3;

		img {
			width: 30rem;
			height: 30rem;
			filter: brightness(100);
		}
	}

	&__title {
		font-family: "BebasNeueBold", sans-serif;
		font-weight: 700;
		font-size: 24rem;
		color: #282D33;
	}

	&__address {
		max-width: 300rem;
		margin-top: 35rem;
		font-weight: 700;
		font-size: 18rem;
		line-height: 25rem;
		color: #264EA1;
	}

	&__photos {
		display: flex;
		margin-top: 55rem;
		overflow-x: auto;
		width: 100%;
		padding: 0 25rem 50rem 0;
	}

	&__photo+&__photo {
		margin-left: 25rem;
	}

	&__photo {
		width: 425rem;
		height: 235rem;
		flex: 0 0 auto;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__caption {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		@media (max-width: 991px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__btn {
		@media (max-width: 991px) {
			margin-top: 20rem;
		}
	}

	&__map {
		margin-top: 50rem;
		width: 100%;
		height: 510rem;

		@media (max-width: 991px) {
			height: 300rem;
		}

		iframe {
			height: 100%;
			border-radius: 14rem;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 14rem;
		}
	}

	&__form {
		margin-top: 55rem;
	}

	&__group {
		display: flex;
		flex-direction: column;
	}

	&__group+&__group {
		margin-top: 25rem;
	}

	&__label {
		margin-left: 15rem;
		font-weight: 700;
		font-size: 18rem;
		line-height: 120%;
		color: #282D33;
	}

	&__input {
		margin-top: 12rem;
		height: 55rem;
		background: #F6F5F5;
		border-radius: 8rem;
		padding: 0 15rem;
	}

	&__btn {
		margin-top: 55rem;
		text-align: right;
	}

	&-block {
		position: absolute;
		top: 50rem;
		left: 50%;
		z-index: 1;
		transform: translateX(-50%);
		opacity: 0;
		visibility: hidden;
		background-color: #fff;
		max-width: 337rem;
		padding: 25rem 20rem;
		border-radius: 12rem;
		transition: all 0.3s ease;
		box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);

		@media (max-width: 991px) {
			left: 0;
			transform: none;
		}

		&::before {
			content: '';
			position: absolute;
			top: -14rem;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 9.5px 19px 9.5px;
			border-color: transparent transparent #fff transparent;

			@media (max-width: 991px) {
				top: -10rem;
				left: 28rem;
				transform: none;
			}
		}

		&__title {
			font-weight: 600;
			color: #202339;
		}

		&__group {
			position: relative;
			margin-top: 18rem;
		}

		&__input {
			width: 100%;
			height: 52rem;
			background: linear-gradient(180deg, #F2F3F5 0%, #EDEEF0 48.7%);
			border-radius: 12rem;
			padding: 0 45rem 0 15rem;
		}

		&__icon {
			position: absolute;
			top: 50%;
			right: 15rem;
			transform: translateY(-50%);
			pointer-events: none;
		}

		&__select {
			appearance: none;
			width: 100%;
			height: 52rem;
			padding: 0 10rem;
			border-radius: 8rem;
			background-image: url('../img/svg/arrow-down-partners.svg');
			background-position: 97%;
			background-repeat: no-repeat;
			background-color: #EEEFF1;
			border-radius: 8rem;
			border: none;
			color: #282D33;
			font-weight: 500;
			outline: none;
		}

		&__sort {
			margin: 32rem 0 42rem;
			display: flex;
			align-items: center;

			&-desc {
				font-weight: 600;
				color: #202339;
			}

			&-arrows {
				margin-left: 45rem;
			}

			&-arrow {
				position: relative;

				&:hover {
					opacity: 0.6;
				}
			}

			&-arrow+&-arrow {
				margin-left: 30rem;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: -17rem;
					transform: translateY(-50%);
					height: 41rem;
					border-right: 1px solid #E6E6E6;
				}
			}
		}

		&__btns {
			margin-top: 32rem;
			display: flex;

			.btn {
				font-size: 16rem;
				padding-left: 30rem;
				padding-right: 30rem;
				white-space: nowrap;
			}

			.btn+.btn {
				margin-left: 16rem;
			}
		}
	}

	&-brand {
		.popup__content {
			max-width: 610rem;
			padding: 32rem;
		}

		&__form {}

		&__title {
			font-weight: 600;
			font-size: 28rem;
			line-height: 125%;
			color: #202339;
		}

		&__date {
			margin-top: 9rem;
			font-weight: 500;
			line-height: 140%;
			color: #202339;
		}

		&__boxes {
			margin-top: 30rem;
			display: flex;
		}

		&__box+&__box {
			margin-left: 40rem;
		}

		&__box {
			position: relative;
			font-weight: 700;
			font-size: 18rem;
			line-height: 125%;
			color: #202339;
			padding-left: 35rem;

			&::before {
				content: '';
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 25rem;
				height: 24rem;
			}

			&--name {
				&::before {
					background-image: url('../img/svg/user.svg');
				}
			}

			&--tel {
				&:hover {
					color: #71edb2;
				}

				&::before {
					background-image: url('../img/svg/tel-3.svg');
				}
			}
		}

		&__btns {
			margin-top: 45rem;
		}
	}
}